<div class='track_order'>
	<h6>Please enter your tracking id to track</h6>
	<%=text_field_tag :track_id%>
	<%=button_to :track, {}, form: {id: 'track_element'}%>
</div>

<div id='trackingDetail'>
</div>
